@import '_variables';

.clients {
    background: url("../images/trianglify.jpg") 0 0 no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0 0 70px 0;
    display: grid;
    align-items: center;
    @include screen('tablet') {
        padding: 120px 0 160px 0;
        height: auto;
    }
  }

.slideshow-container {
    position: relative;
    margin: auto;
    padding: 0 10% 0 5%;
    @include screen('tablet') {
      padding: 0;
      max-width:630px;
    }
    @include screen('desktop') {
      max-width: 930px;
    }
  }
  
  .dot {
    height: 7px;
    width: 7px;
    margin: 0 2px;
    background-color: #add6b1;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    @include screen('tablet') {
      height: 15px;
      width: 15px;
    }
  }
  
  .active {
    background-color: $color-light;
  }
  
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

 
  .slide {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    @include screen('tablet') {
      grid-template-columns: 200px auto;
    }
    @include screen('desktop') {
      grid-template-columns: 400px auto;
    }
    &__img {
      padding-top: 20px;
      padding-right: 10%;
      margin-bottom: -20px;
      img {
        max-width: 200px;
        height: auto;
        @include screen('desktop') {
          max-width: 350px;
          height: auto;
        }
      }
      @include screen('tablet') {
        padding-right: 0;
        margin-top: 30px;
      }
    }
    &__element {
      display: grid;
      grid-template-columns: 20px auto;
      grid-column-gap: 10px;
      @include screen('tablet') {
        grid-column-gap: 20px;
      }
      &__text {
        color: #3c3c3c;
        font-family: $font-family-main;
        margin-top: 50px;
        font-size: 16px;
        padding-bottom: 25px;
        align-items: center;
        line-height: 1.2;
        @include screen('tablet') {
          padding-right: 10%;
          font-size: 20px;
        }
        @include screen('desktop') {
          font-size: 30px;
        }
        &__mail {
          font-family: $font-family-main;
          font-weight: 300;
          font-size: 16px;
          padding-bottom: 20px;
          color: #3c3c3c;
          @include screen('desktop') {
            font-size: 22px;
            padding-bottom: 35px;
          }     
          a {
            font-family: $font-family-main;
            font-weight: 300;
            color: $color-light;
            text-decoration: underline;
            font-size: 16px;
            @include screen('tablet') {
              font-size: 22px;
            }
            &:hover {
              color: lightgrey;
              transition: all 0.5s;
            }
          }
        }
      }
      &__btn {
        font-family: $font-family-main;
        font-weight: 300;
        color: $color-light;
        background-color: transparent;
        text-decoration: none;
        font-size: 12px;
        padding: 4px 8px;
        border: 1px solid $color-light;
        text-align: center;
        width: 70px;
        @include screen('desktop') {
          font-size: 15px;
        }
        &:hover {
          color: lightgrey;
          border: 1px solid lightgrey;
        }
      }
    }
  }

