@import '_variables';

.contact {
    padding: 60px 0 40px 5%;
    @include screen('desktop') {
      padding: 85px 0;
    }
    &__bar {
        display: grid;
        grid-template-columns: 100px auto;
        align-items: center; 
        justify-content: space-between;
        margin: 0 auto; 
        justify-self: start; 
        padding-bottom: 30px;
        padding-right: 5%;
        @include screen('desktop') {
          grid-template-columns: 115px 265px;
          max-width: 980px;
          padding-bottom: 65px;
          padding-left: 5%;
        }
        &__btn {
            display: grid;
            grid-template-columns: auto 20px;
            text-decoration: none;
            color: $color-light;
            border: 1px solid $color-accent;
            border-radius: 3px;
            background-color: $color-accent;
            padding: 3px 10px;
            font-size: 14px;
            margin-top: 0;
            font-family: $font-family-header;
            @include screen('desktop') {
              font-size: 22px;
            }
            &:hover {
              color: lightgrey;
              transition: all 0.5s;
            }
        }
    }
    &__text {
      font-size: 14px;
      margin: 0 auto;
      font-family: $font-family-main;
      font-weight: 300;
      padding-bottom: 25px;
      @include screen('desktop') {
        padding-bottom: 50px;
        font-size: 22px;
        max-width: 770px;
      }
    }
    &__element {
      font-family: $font-family-main;
      font-weight: 300;
      display: grid;
      grid-template-columns: 1fr auto;
        &__form {
          max-width: 770px;
          margin: 0 auto;
          display: grid;
          grid-template-columns: auto auto auto auto;
          grid-template-rows: auto;
          grid-column-gap: 0;
          grid-row-gap: 10px;
          align-items: center;
          padding-right: 5%;
          line-height: 1;
          grid-template-areas: 
            "labelA inputA"
            "labelB inputB"
            "labelC inputC"
            "labelD inputD"
            "labelE labelE"
            "btn btn";
            @include screen('desktop') {
              padding-right: 0%;
              grid-template-columns: auto auto auto auto;
              grid-template-areas: 
                "labelA inputA labelB inputB"
                "labelC inputC labelD inputD"
                "labelE labelE labelE labelE"
                "btn btn btn btn";
          }
            ::placeholder {
              font-family: $font-family-main;
              font-weight: 300;
              padding-left: 5px;
              font-size: 10px;
              @include screen('desktop') {
                font-size: 14px;
              }
            }
        }
      }
    }

  input {
    border: 0;
    border-bottom: 1px solid #858585;
  }


 .label-a, .label-b, .label-c, .label-d {
    font-size: 16px;
    @include screen('desktop') {
      font-size: 30px;
    }
  }

  .label-a {
    grid-area: labelA;
  }

  .label-b {
    grid-area: labelB;
  }

  .label-c {
    grid-area: labelC;
  }

  .label-d {
    grid-area: labelD;
  }

  .input-a, .input-b, .input-c, .input-d {
    justify-self: stretch;
  }

  .input-a {
    grid-area: inputA;
  }

  .input-b {
    grid-area: inputB;
  }

  .input-c {
    grid-area: inputC;
  }

  .input-d {
    grid-area: inputD;
  }

  .label-e {
    grid-area: labelE;
    margin-top: 32px;
    font-size: 12px;
    @include screen('desktop') {
      font-size: 19px;
    }
  }

  .btn {
    grid-area: btn;
    width: 165px;
    margin: 20px auto 0 auto;
    @include screen('desktop') {
      margin: 60px auto 0 auto;
    }
  }

  .arrow {
    padding-left: 0;
    @include screen('desktop') {
      padding-left: 10px;
    }
  }

  .strong {
    font-weight: 400;
    color: $color-dark;
  }

  .checkmark {
    padding-right: 10px;
  }
