@import '_variables';

.footer {
    font-family: $font-family-main;
    font-weight: 300;
    height: 90px;
    background-color: #242424;
    color: #8f8f8f;
    font-size: 10px;
    display: grid;
    align-items: center;
    padding: 0 5%;
    @include screen('tablet') {
        font-size: 12px;
    }
    &__wrapper {
        padding: 0;
        width: 100%;
        justify-content: start;
        max-width: 980px;
        margin: 0 auto;
    }
}