.background-top {
    background: url("../images/bg.jpg") 0 0 no-repeat;
    background-position: center;
    background-size: cover;
  }

  .hero {
    letter-spacing: 2px;
    display: grid;
    align-content: center;
    text-align: center;
    height: 100vh;
    font-family: 'Homenaje', sans-serif;
    font-weight: regular;
  }


  .title {
      color: #2d2d2d;
      font-size: 38px;
      text-transform: uppercase;
      font-weight: light;
      @media only screen and (min-width: 768px) {
        font-size: 58px;
    }
    &__accent {
      color: #fff;
    }
  }