.background-top {
    background: url("../images/bg.jpg") 0 0 no-repeat;
    background-position: center;
    background-size: cover;
  }

  .hero {
    letter-spacing: 2px;
    display: grid;
    align-content: center;
    text-align: center;
    height: 90vh;
    font-family: 'Homenaje', sans-serif;
    font-weight: regular;
  }

  span {
      color: #fff;
  }

  .title {
      color: #2d2d2d;
      font-size: 38px;
      text-transform: uppercase;
      font-weight: light;
      padding-bottom: 100px;
      @media only screen and (min-width: 768px) {
        font-size: 58px;
    }
  }

  .callout {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-left: 20px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  
  .callout-container {
    padding: 15px;
    color: #fff;
    display: grid;
    margin: 0 auto;
    align-items: center;
    justify-items: left;
    @media only screen and (min-width: 768px) {
      grid-template-columns: 60px auto 80px;
      grid-column-gap: 20px;
      max-width: 940px;
  }
    p {
      text-align: start;
      font-size: 8px;
      font-family: 'Mada', sans-serif;
      font-weight: 300;
      @media only screen and (min-width: 768px) {
        font-size: 14px;
    }
  }
}
  
  .closebtn {
    top: 5px;
    right: 0;
    color: #fff;
    font-size: 8px;
    height: 11px;
    cursor: pointer;
    border: 1px solid #62c017;
    border-radius: 3px;
    background-color: #62c017;
    width: 40px;
    text-transform: uppercase;
    justify-self: end;
    @media only screen and (min-width: 768px) {
      margin-left: 60px;
      width: 80px;
      font-size: 14px;
      height: 20px;
    }
  }
  
  .closebtn:hover {
    color: lightgrey;
  }

  .cookies-link {
    color: #62c017;
  }