@import '_variables';

.scrolled {
    background-color: rgba(0, 0, 0, 0.7);
}
    
.top-bar {
    width: 100%;
    top: 0;
    height: 60px;
    z-index: 3;
    align-items: center;
    display: grid;
    grid-template-columns: 40px 1fr;
    justify-content: space-between;
    font-family:$font-family-main;
    padding: 0 5%;
    position: fixed;
    @include screen('tablet') {
        grid-template-columns: 100px 1fr;
        height: 80px;
    }
    @include screen('desktop') {
        grid-template-columns: 150px 1fr;
    }
    &__logo {
        margin-top: 10px;
        justify-self: end;
    }
    &__nav {
        text-align: center;
        padding-right: 15%;
        @include screen('tablet') {
            padding-right: 25%;
        }
        @include screen('desktop') {
            padding-right: 25%;
        }
        &__link {
            color: $color-light;
            text-decoration: none;
            text-transform: uppercase;
            padding: 5px 5px;
            font-size: 11px;
            height: 50px;
            border-right: 1px solid $color-light;
            &:last-child {
                border-right: none;
              }
              &:hover {
                color: lightgrey;
                transition: all 0.2s;
              }
              @include screen('tablet') {
                font-size: 14px;
                padding: 10px 25px;
            }
            @include screen('desktop') {
                padding: 10px 50px;
            }
        }
    }
}