.scrolled {
    background-color: rgba(0, 0, 0, 0.7);
}
    
.top-bar {
    width: 100%;
    top: 0;
    height: 60px;
    z-index: 3;
    align-items: center;
    display: grid;
    grid-template-columns: 40px 1fr;
    justify-content: space-between;
    font-family: 'Mada', sans-serif;
    padding: 0 5%;
    position: fixed;
    @media only screen and (min-width: 768px) {
        grid-template-columns: 50px 1fr;
        height: 80px;
    }
    &__logo {
        justify-content: start;
    }
    &__nav {
        text-align: center;
        padding-right: 15%;
        @media only screen and (min-width: 768px) {
            padding-right: 5%;
        }
        @media only screen and (min-width: 1024px) {
            padding-right: 14%;
        }
        &__link {
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            padding: 5px 5px;
            font-size: 11px;
            height: 50px;
            border-right: 1px solid #fff;
            &:last-child {
                border-right: none;
              }
              &:hover {
                color: lightgrey;
                transition: all 0.2s;
              }
              @media only screen and (min-width: 768px) {
                font-size: 14px;
                padding: 10px 50px;
            }
        }
    }
}