@import '_variables';

.products {
    padding: 10px 0 100px 5%;
    @include screen('tablet') {
        padding: 90px 0 155px 0;
      } 
    &__text {
      font-size: 14px;
      text-align: center;
      color: #494949;
      padding: 20px 0 40px 0;
      font-family: $font-family-main;
      font-weight: 300;
      @include screen('tablet') {
        font-size: 18px;
        padding: 20px 0 60px 50px;
      } 
      @include screen('desktop') {
          font-size: 22px;
          padding: 40px 0 100px 0;
        }  
    }   
    &__element {
        display: grid;
        grid-template-columns: auto 30px;
        &__icons {
            margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-row-gap: 80px;
            grid-column-gap: 60px;
            @include screen('tablet') {
                grid-template-columns: 1fr 1fr 1fr;
                grid-row-gap: 90px;  
                grid-column-gap: 80px;
                max-width: 500px;
              } 
              @include screen('desktop') {
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-row-gap: 90px;  
                grid-column-gap: 80px;
                max-width: 725px;
              }      
            &__item {
                justify-self: center;
                align-self: center;
                max-width: 80px;
                max-height: 80px;
                padding: 10px;
                &:hover {
                  background-color: $color-accent;
                  fill: $color-light;
                }
                @include screen('tablet') {
                  max-width: 120px;
                  max-height: 120px;
                } 
            }
        }
    }
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $color-accent;
  z-index: 1;
  width: 100px;
  margin-top: -7px;
  text-align: left;
  @include screen('tablet') {
    width: 140px;
  } 
  &__text {
    padding: 10% 7%;
    font-size: 10px;
    color: $color-light;
    font-family: $font-family-main;
    font-weight: 300;
    @include screen('tablet') {
      font-size: 14px;
    } 
  }
}


.dropdown-content a:hover {background-color: $color-accent}

.dropdown:hover .dropdown-content {display: block;}
