
.quote {
    max-width: 15px;
    height: auto;
    justify-self: end;
    margin-top: 20px;
    @media only screen and (min-width: 768px) {
        max-width: 25px;
    }
    @media only screen and (min-width: 1024px) {
        max-width: 35px;
        margin-top: 25px;
    }
    &--modifier {
        margin-top: 50px;
    }
}

.header {
    font-size: 32px;
    text-align: center;
    color: #2d2d2d;
    font-family: 'Homenaje', sans-serif;
    padding-top: 40px;
    @media only screen and (min-width: 768px) {
        font-size: 50px;
        padding-top: 0;
    }
    &--modifier {
        color: #fff;
    }
    &--contact {
        padding-top: 0;
    }
}


.position {
    align-self: center;
    justify-self: end;
    font-size: 11px;
    height: 25px;  
    text-align: center;
    margin-bottom: 0;
    margin-top: -120%;
    font-family: 'Homenaje', sans-serif;
    font-weight: 400;
    @media only screen and (min-width: 768px) {
        margin-top: -50%;
        font-size: 19px;
        height: 50px;  
    }
    h6:after  {
        content: '';
        background-color: #626262;
        display: block;
        height: 1px;
        margin-top: 10px;
        margin-bottom: 0;
        width: 30px;
        @media only screen and (min-width: 768px) {
            margin-top: 30px;
            width: 100px;
        }
      }
}
.position--modifier {
    color: #fff;
    align-items: center;
    h6:after {
        background-color: #fff;
    }
}

.position--map {
    margin-top: -20%;
}

.position--contact {
    margin-top: 65px;
    align-self: start;
    @media only screen and (min-width: 768px) {
        margin: 0;
        align-self: start;
    }
}

.scroll-up {
    cursor: pointer;
	position: fixed;
	bottom: 50px;
	display: block;
	z-index: 100;
    width: 10px;
    height: 10px;
    border-bottom: 1px solid#626262;
    border-right: 1px solid#626262;
    z-index: 9;
    right: 3px;
    -webkit-transform: translate(-50%, 0%) rotate(225deg);
    -moz-transform: translate(-50%, 0%) rotate(225deg);
    transform: translate(-50%, 0%) rotate(225deg);
    @media only screen and (min-width: 768px) {
        width: 30px;
        height: 30px;
        bottom: 80px;
        right: 20px;
    }
    &:after {
        content: '';
        background-color: #000;
        display: block;
        height: 1px;
        width: 35px;
        -webkit-transform: translate(-50%, 0%) rotate(-45deg);
        -moz-transform: translate(-50%, 0%) rotate(-45deg);
        transform: translate(-50%, 0%) rotate(-45deg);
        @media only screen and (min-width: 768px) {
            width: 105px;
        }
    }
}

.scroll-down {
    cursor: pointer;
	position: fixed;
	right: 10px;
	bottom: 35px;
	display: block;
	z-index: 100;
    width: 10px;
    height: 10px;
    border-bottom: 1px solid#626262;
    border-right: 1px solid#626262;
    z-index: 9;
    right: 3px;
    -webkit-transform: translate(-50%, 0%) rotate(45deg);
    -moz-transform: translate(-50%, 0%) rotate(45deg);
    transform: translate(-50%, 0%) rotate(45deg);
    @media only screen and (min-width: 768px) {
        width: 30px;
        height: 30px;
        bottom: 30px;
        right: 20px;
    }
}


