
.quote {
    max-width: 15px;
    height: auto;
    justify-self: end;
    @media only screen and (min-width: 768px) {
        max-width: 25px;
    }
    @media only screen and (min-width: 1024px) {
        max-width: 35px;
    }
    &--modifier {
        margin-top: 50px;
    }
}

.header {
    font-size: 32px;
    text-align: center;
    color: #2d2d2d;
    font-family: 'Homenaje', sans-serif;
    @media only screen and (min-width: 768px) {
        font-size: 50px;
    }
    &--modifier {
        color: #fff;
    }
}


.position {
    align-self: center;
    justify-self: end;
    font-size: 11px;
    height: 25px;  
    text-align: center;
    margin-bottom: 80px;
    @media only screen and (min-width: 880px) {
        font-size: 16px;
        height: 50px;  
    }
    h6:after  {
        content: '';
        background-color: #626262;
        display: block;
        height: 2px;
        margin-top: 10px;
        width: 30px;
        @media only screen and (min-width: 880px) {
            margin-top: 30px;
            width: 100px;
        }
      }
}
.position--modifier {
    color: #fff;
    align-items: center;
    h6:after {
        background-color: #fff;
    }
}

